@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Wellcome back</h1>
<hr />
<h5 style="font-size: medium; margin-bottom: 10px; margin-top:40px">You are already with privileged access for your topics.</h5>
<h5 style="font-size: medium; margin-bottom: 10px">* Remember that you can also do the logoff of your login aftewards</h5>
<h5 style="font-size: medium; margin-bottom: 10px">* The System is programed to realize the logoff automatcaly after some time</h5>
<h5 style="font-size: medium; margin-bottom: 40px">* If you login with another user, the last user logged will be unlogged automatcaly</h5>

<div>
    <a asp-controller="Topics" asp-action="Index">Back to topic list</a>
</div>