@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Not Allowed</h1>
<hr />
<h5 style="font-size: medium; margin-bottom: 10px; margin-top:40px">Unfortunately, you are logged with some user that don't have access to this specific topic</h5>
<h5 style="font-size: medium; margin-bottom: 10px">* The topics only can be accessed by them own creators</h5>
<h5 style="font-size: medium; margin-bottom: 10px">* You can try loggin with another user to access the related topic</h5>
<h5 style="font-size: medium; margin-bottom: 40px">* You can also back to the topic list to select another one</h5>

<div>
    <a asp-controller="Logons" asp-action="Index">Try to login again</a>
</div>
<div>
    <a asp-controller="Topics" asp-action="Index">Back to topic list</a>
</div>